/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background:none;
  /*(34, 36, 54, 0.6)*/
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#language {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 20px;
  color: #000;
  background: #FFF;
  padding-right: 17px;
}

#clock {
  background: #FFF;
}

#cpu {
  background: #FFF;
}

#memory {
  background: #FFF;
}

#disk {
  background: #FFF;
}

#temperature {
  background: #FFF;
}

/* Modules center */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #404040;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #000;
}

#workspaces button.active {
  color: #FFF;
  text-shadow: 0 0 4px #FFF;
}

#workspaces button:hover {
  color: #797979;
}

#workspaces button.active:hover {}

/* Modules right */
#taskbar {
  background: 000;
  color:#FFF;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  background: #000;
  color:#FFF;
  padding-right: 15px;
}

#pulseaudio {
  min-width: 55px;
  color: #FFF;
  background: #000;
}

#pulseaudio-slider {
  color: #FFF;
  background: #000;
  min-width: 50px;
}

#pulseaudio-slider slider {}


#network {
  background: #000;
  color:#FFF;
  padding-right: 13px;
}

#language {
  background: #000;
  color:#FFF;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
